/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

.icon {
    @apply h-16 w-16;
    transform: scale(1);
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.card {
    @apply bg-white px-4 inline-block rounded shadow-xl;
}

.c {
    will-change: transform, opacity;
}
